@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeesMvc.Models.Employee

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Email</p>
    <p>@Model.Id</p>

</body>
</html>