@model Employee[]


    <h1>List of Employees</h1>
    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="Employee" asp-action="Details" asp-route-id="<bold>@item.Id">@item.Name @item.Email</a>
                    <bold><partial name="_Timebox" model="DateTime.Now" /></bold>
                </li>
            }
        </ul>

    </div>
